

<h2>{{title}}</h2>


 <div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
      
      <h3>About <span style="color:black">bottle</span> <span style="color:red">rocket</span></h3>
      
      <p>A web app for music fans that lets them search for information about their favourite bands and displays related bands to allow them to discover new music, allows them to play music from SoundCloud, YouTube videos and media from other sources, and provides a service that allows users to see gigs that are on in their area or search for their favourite bands to see when they will be touring near them.</p>
            
    </div>
    

    
  </div>