<!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">

            	<h4>Searching for: {{query}}</h4>
 
              <form>
                <div class="row collapse">
 
                  <div class="large-10 small-8 columns">
                    <input type="text" ng-model="query" />
                  </div>
 
                  <div class="large-2 small-3 columns">
                    <button class="postfix button expand" type="submit" ng-click=search(query)>Search</button>
                  </div>
 
                </div>
              </form>
 
            </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->

      <div>
      	<h1>{{artistInfo.data.prefLabel}}</h1>
      	<p ng-bind-html="artistDesc"></p>
      	<hr />
      	<h2>Facts</h2>
      	<p>Genre: {{facts.data.genre}}</p>
      	<p>Hometown: {{facts.data.origin.1.prefLabel}}</p>
      	<hr />
      	<h2>Related Artists</h2>
      	<ul>
      		<li ng-repeat="band in relatedBands.data.association">{{band.object.prefLabel}}</li>
      	</ul>
      	<hr />
      </div>