<!-- First Band (Slider) -->
 
  <div class="row">
    <div class="large-12 columns">
    <div id="slider">
      <img src="/app/img/band_img2.jpg"  />
    </div>
    
    <hr />
    </div>
  </div>
  

  
<!-- Three-up Content Blocks -->

  <div class="row">
    <div class="large-4 columns mid">
      <img src="/app/img/kanye_west.jpg" />
      <h4>Kanye West</h4>
      <p>WED JUL 2, 2014 - 5:30 PM
        Marlay Park
        Dublin, Ireland</p>
      <a href="/artist" class="button">Search Artist</a>
    </div>
    
    <div class="large-4 columns mid">
      <img src="/app/img/slayer.jpg" />
      <h4>Slayer</h4>
      <p>The Academy
       TUE JUL 1, 2014 - 7:00 PM
      
         57 Abbey Street Middle
           Dublin, Ireland</p>
      <a href="/artist" class="button">Search Artist</a>
    </div>
    
    <div class="large-4 columns mid">
      <img src="/app/img/fray_helios.jpg" />
      <h4>The Fray</h4>
      <p>The Fray

        Olympia Theatre
        73 Dame Street
        Dublin, Ireland</p>
      <a href="/artist" class="button">Search Artist</a>
    </div>
  
  </div>
    
<!-- Call to Action Panel -->
 <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch with <span style="color:black">bottle</span> 
          <span style="color:red">
            rocket
          </span></h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you!</p>
          </div>
          <div class="large-3 columns">
            <a href="/contact" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>