
     <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h2>Music</h2>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Here you can search for music on Soundcloud.</p>
          </div>
          <div class="large-3 columns">
             <div class="logo">
              <span class="inspire">bottle</span>
              <span class="dev">rocket</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
 
 <div class="row">

      <div class="large-12 columns">

                
             <div class="radius panel">

                 <h4>Searching for: {{query}}</h4>

            <form>
              <div class="row collapse">
                  <p ng-bind-html="oEmbed.htmlSafe"></p>
               
 
                     <div class="large-10 small-8 columns">
               
					             <input type="text" ng-model="query" />
                      </div>
 
                      <div class="large-2 small-3 columns">
                        <button ng-click = "searchSC()" class="postfix button expand">Search
                        </button>
                      </div>
 
              </div>
            </form>
 
          </div>
 
          <div class="large-12 columns">
          	<div class="radius panel">

              <ul class="inline-list">
                <li ng-repeat="track in tracks" class="repeat-animation"><a ng-click="playTrack(this.track)">{{track.title}}</a></li>
              </ul>

            </div>
          </div>
      </div>
 
  </div>
 
      <!-- End Search Bar -->
