
<div class="row">
	<div class="large-12 columns">


<h2>{{title}}</h2>

<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="false"></div>

<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h2>Profile Page</h2>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Users will be able to add bands they like here, get recommendations for bands they might like, add and update basic information about themselves and write short blogs about music or bands they like.</p>

<p>Other things we might add are upcoming events they want to attend...</p>
          </div>
          <div class="large-3 columns">
             <div class="logo">
              <span class="inspire">bottle</span>
              <span class="dev">rocket</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>




</div>
</div>